<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/AdminFragment/admin-layout :: main-fragment(
~{:: title},
~{:: .buttons},
~{admin/AdminFragment/admin-fragment :: row(leftContent = ~{:: #left}, rightContent = ~{:: #right}) },
~{}
)}">

<head>
    <title>Tạo khóa học</title>
</head>


<body>
    <div class="d-flex mb-3 buttons">
        <button class="btn btn-primary me-2">Tạo</button>
        <a class="btn btn-secondary" href="/admin/courses">Quay lại</a>
    </div>
            <th:block id="left">
                <div class="mb-3">
                    <label for="courseName" class="form-label">Tên khóa học</label>
                    <input type="text" class="form-control" id="courseName" name="courseName">
                </div>
                <div class="mb-3">
                    <label for="courseDescription" class="form-label">Mô tả</label>
                    <textarea class="form-control" id="courseDescription" name="courseDescription" rows="10"></textarea>
                </div>
            </th:block>

            <th:block id="right">
                <div class="mb-3">
                    <label for="courseType" class="form-label">Hình thức học</label>
                    <select class="form-select" id="courseType" name="courseType">
                        <option value="" disabled selected>Chọn hình thức học</option>
                        <option value="online">Online</option>
                        <option value="onlab">OnLab</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="courseTopic" class="form-label">Chủ đề</label>
                    <select class="form-select" id="courseTopic" name="courseTopic" multiple>
                        <option value="" disabled selected>Chọn chủ đề</option>
                        <option th:each="topic : ${topicList}" th:text="${topic}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="courseAdvisor" class="form-label">Tư vấn viên</label>
                    <select class="form-select" id="courseAdvisor" name="courseAdvisor">
                        <option value="" disabled selected>Chọn tư vấn viên</option>
                        <option th:each="user : ${userList}" th:value="${user.name}" th:text="${user.name}"></option>
                    </select>
                </div>
            </th:block>
</body>
</html>
